footer {
    background-color: #2d9375;
    color: #95e5db;
    position: fixed;

    bottom: 0;
    padding: 5px;
    height: 74px;
    letter-spacing: 2px;
    box-sizing: initial;
    flex-wrap: wrap;
    justify-content: center;
}

.first-letter {
    color: #ef1a66;
    font-weight: bold;
    font-size: 1.3em;
}
