main {
    flex-grow: 1;
    align-items: start;
    padding-top: 254px; /* Высота header */

}

.catalog-container {
    width: 60%;
    /*overflow-x: auto;*/
    max-width: 100%;
    /*display: flex;
    flex-wrap: wrap;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    /*table-layout: fixed;
    overflow-x: auto; */
}

th {
    background-color: #f0fdf8;
    color: #d70c62;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

th {
    border: 1px solid #ab1207;
    padding: 5px;
}

td {
    border: 1px solid #dbc47f;
    padding: 5px;
    color: #077235;
    font-size: 19px;


}

td, th {
    white-space: nowrap; /* Запрет переноса содержимого ячеек на новую строку */
    overflow: hidden; /* Скрытие содержимого ячеек, которое не помещается */
    text-overflow: ellipsis; /* Отображение многоточия (...) в случае обрезания содержимого */
    padding: 5px; /* Добавляем отступы для ячеек */
}

.sidebar-left {
    width: 20%;
    flex-shrink: 0;
    padding: 25px;

}

.sidebar-right {
    width: 20%;
    flex-shrink: 0;
    padding: 25px;
}

.sidebar-title {
    /*text-align: center;*/
    color: #b61004;
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, sans-serif;

}

.sidebar-text {
    /*text-align: center;*/
    color: rgb(19, 80, 14);
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}

.btn-add-text:hover {
    color: azure;
}

.btn-add-text {
    text-align: center;
    color: #025f67;
    font-size: 20px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    justify-content: center;

}

/*@media screen and (max-width: 480px) {
  .catalog-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 5px;
  }*/
