.search-bar {
    background-color: #c4efd3;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-bar button[type="submit"] {
    background-color: rgba(95, 176, 169, 0.87);
    color: rgb(236, 243, 242);
    border: none;
    padding: 9px;
    cursor: pointer;


}

.search-bar button:hover {
    background-color: rgb(224, 114, 23);

}

input[type="text"] {
    padding: 10px;
    border: 1px solid #e71f1f;
    border-radius: 5px;
    font-size: 16px;
    /*width: 100%;*/

}

#search-form label {
    display: flex;
    align-items: center;
    width: 180%;
    font-size: 16px;

}

select {
    padding: 10px;
    border: 1px solid #a69fe3;
    border-radius: 5px;
    font-size: 18px;
    /*width: 100%;*/
}

#language-selector {
    /* display: inline-block;*/
    vertical-align: middle;
    margin-right: 10px;

}

#selected-language {
    font-size: 21px;
    font-weight: bold;
    color: #0b9393;
    vertical-align: middle;
}

.flag-container {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-right: 9px;

}

.world-container img {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-right: 9px;
    width: 2.6rem;

}

.flag-container img {
    width: 2.9rem;
    margin-left: 9px;
    border: 1px solid rgba(112, 110, 110, 0.45);

}

select option:first-child {
    color: transparent;

}

.usd-eur {
    color: #025f67;
    font-size: 17px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    justify-content: center;

}

.date-timer {
    color: #0364b4;
    font-size: 17px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    justify-content: center;

}

.btn-order-text {
    text-align: center;
    color: #025f67;
    font-size: 20px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;

}

.btn-order-text:hover {
    color: lemonchiffon;

}

.order {

font-weight: bold;
}

.order-count-item {
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    color: rgba(4, 101, 182, 0.92);

}

.order-count {
    color: #fa3cf7;
    font-size: 22px;
    background-color: azure;
    border-radius: 50px;
    padding: 8px;

}