/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    /*line-height: 1.5;*/
    color: #14502e;
    background-color: rgba(247, 228, 195, 0.16);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
header {
    background-color: rgba(63, 229, 178, 0.29);
    align-items: center;
}

/* Header container styles */
.header-container {
    /*max-width: min-content;*/
    margin: 0 auto;
    /*padding: 5px 0;*/
    display: flex;
    /*align-items: normal;*/
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #9342cb;
    text-align: center;
}

.digital {
    color: rgba(248, 50, 50, 0.75);
    font-size: 44px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif  ;
}

.russian {
    color: rgb(9, 178, 9);
    font-size: 48px;
    font-weight: bold;
    font-family: Cambria, sans-serif ;
}

/* Navbar styles */
nav {
    background-color: #3b9f81;
}

/* Navbar container styles */
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search button styles */
.search-bar button[type="submit"] {
    background-color: #3fc597;
    color: #e2f5f3;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    color: #98eae0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

button:hover {
    background-color: rgb(194, 6, 85);
    }

/* Search bar styles */
.search-bar {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #e71f1f;
    border-radius: 5px;
    width: 180%;
}

select {
    padding: 10px;
    border: 1px solid #a69fe3;
    border-radius: 5px;
    width: 20%;
}

/* Catalog container styles */
.catalog-container {
    max-width: 1200px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #c2f5e1;
    color: #a9064b;
    text-align: left;
    padding: 10px;
}

th,
td {
    border: 1px solid #ab1207;
    padding: 10px;
}

/* Footer styles */
footer {
    background-color: #267c63;
    color: #98eae0;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Footer container styles */
.footer-container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    text-align: center;
}

.footer-container p {
    font-size: 16px;
}

/* Main container styles */
.main-container {
    /* display: flex;*/
    max-width: 1200px;
    margin: 0 auto;
}

main {
    width: 100%;
}

/* Left sidebar styles */
.left-sidebar {
    width: 20%;
    padding-right: 20px;
    box-sizing: border-box;

}
.lstext{
    text-align: center;
    color: #b61004;
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, sans-serif;
    justify-content: center;

}
/* Right sidebar styles */
.right-sidebar {
    width: 20%;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Apply styles to the .container element to center it horizontally */
.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: flex;
}

/* Apply styles to the .sidebar-left and .sidebar-right elements */
.sidebar-left,
.sidebar-right {
    width: 400px;
    border: 1px solid rgb(246, 118, 14);
    padding: 20px;
}

/* Apply styles to the .sidebar-left element to float it to the left */
.sidebar-left {
    float: left;
}

/* Apply styles to the .sidebar-right element to float it to the right */
.sidebar-right {
    float: right;
}

/* Clear the float on the .container element to ensure that it wraps around the sidebars */
.container::after {
    content: "";
    clear: both;
    display: table;
}

.first-letter {
    color: #fa38a3;
    font-weight: bold;
    font-size: 1.2em;
}
.btn-add-text{
    text-align: center;
    color: #025f67;
    font-size: 18px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    justify-content: center;

}
.btn-add-text:hover {
    color: azure;
    }
.btn-order-text{
    text-align: center;
    color: #025f67;
    font-size: 18px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    justify-content: center;
}
.btn-order-text:hover {
    color: lemonchiffon;
    }